@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

body {
    background: rgba(0,0,0,0.08);
    font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
}
.calculator {
    background: #D8DFE3;
    max-width: 752px;
    margin: 0 auto;
    border-radius: 5px 5px 0px 0px;
}

.calc__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 28px;
    color: #454545;
    font-weight: bold;
    padding: 21px 70px;
    border-bottom: 1px solid #C9D0D5;
}

.calc__percent span {
    font-size: 16px;
    color: #454545;
    font-weight: normal;
}

.calc__count {
    padding: 32px 70px; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    
}

.calc__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.calc__name {
    color: #454545;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    padding: 0 0 12px 0;
}

.calc__item input {
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 5px;
    color: #AAAAAA;
    font-size: 14px;
    line-height: 24px;
    padding: 15px 0 15px 9px;
    width: 293px; 
}

.calc__item input:focus {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
    outline: 0;
}

.calc__limit {
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: #858585;
    padding-top: 8px;
}

.calc__final {
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    padding: 32px 70px; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.calc__payment {
    line-height: 24px;
    font-size: 16px;
    color: #454545;
}

.calc__payment span {
    display: block;
    font-weight: bold;
    line-height: 56px;
    font-size: 36px;
    color: #DD624E;
}

.calc__button input {
    background: #DD624E;
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    border: 0;
    height: 65px;
    width: 293px;
}

.calc__button input:focus {
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
    outline: 0;
}

.calc__button:active {         
	position: relative;  
    top: 2px; 
}

.calc__modal {
	width: 590px; 
	height: 480px;
	border-radius: 5px;
	background: #393F43;
	position: fixed; 
	display: none; 
	opacity: 0; 
	z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.calc__modal .calc__close {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
    display: block;
    background: url(../img/close.png) no-repeat; 
}

.calc__overlay {
	z-index:3;
	position:fixed; 
	background-color:#000; 
	opacity:0.8; 
	-moz-opacity:0.8;
	filter:alpha(opacity=80);
	width:100%; 
	height:100%;
	top:0; 
	left:0;
	cursor:pointer;
	display:none;
}
.calc__modal_wrap {
    padding: 40px 70px;
}

.calc__modal_text {
    font-weight: bold;
    line-height: normal;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.calc__modal_input {
    width:100%;
	height:55px;
	margin-bottom:20px;
	color: #aaa;
	border: 1px solid #757575;
	background-color: transparent;
	font-size:14px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding-left: 10px;
    box-sizing: border-box;
}
.calc__modal_input:last-child {
    margin-bottom:8px;
}
.calc__modal_input:focus { 
    border-color:#fff;
    outline: none;
}

.calc__modal_input--submit {
    background: #34B1C4;
    border-radius: 3px;
    border: 0;
    font-weight: bold;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.calc__modal_input--submit:active {         
	position: relative;  
    top: 2px; 
}
.calc__modal_input--submit:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.calc__agreement {
    display: inline-block;
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: #858585;
}




@media (max-width: 765px) {
    .calc__info, .calc__final {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
           -ms-flex-direction: column;
               flex-direction: column; 
       -webkit-box-align: center; 
           -ms-flex-align: center; 
               align-items: center;
    }
    .calc__count {
        display: block;
    }

    .calc__item {
        display: block;
    }
    .calc__item input {
        width: 100%;
    }

    .calc__percent {
        padding-top: 21px;
    }

    .calc__info {
        padding: 21px 24px;
    }
    .calc__count, .calc__final {
        padding: 32px 24px;
    }
    .calc__item input {
        margin-top: 12px; 
    }
}

@media (max-width: 360px) { 
    .calc__button input {
        width: 237px;
    }
}